<div>
  <h1>Cerámicas Doli</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla a purus nec nisl imperdiet pulvinar.
    Donec lectus turpis, malesuada sed congue vel, egestas quis massa.
    Aenean eget sollicitudin velit. Curabitur convallis nisi dolor, sit amet venenatis mauris tristique et.
    Donec ac lacinia magna. In blandit ipsum ac cursus ultricies.
    Nunc porta, dolor ullamcorper imperdiet interdum, arcu nunc lobortis tortor, quis pretium est diam quis nulla.
    In gravida mi sagittis, tempor purus eu, laoreet nisl. Donec dignissim scelerisque risus sed ultricies.

    Aliquam at sagittis ex. Quisque tincidunt justo et eros pretium, non hendrerit felis eleifend.
    Praesent congue purus diam, et mattis nibh lobortis vitae. Cras gravida feugiat libero, in finibus ante bibendum at.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    Duis mattis mattis arcu, ut aliquet nibh fringilla quis. Suspendisse hendrerit lorem dui, sit amet sollicitudin lectus sodales ut.
    Nunc porta aliquam enim vel posuere. Sed pharetra elit maximus lacinia blandit. Maecenas porta vitae nulla at molestie.
    Nullam dapibus sapien posuere metus tincidunt, eget porttitor massa laoreet. Duis egestas sem eget enim dignissim, at porttitor orci porta.
    Aliquam ultricies arcu massa, at scelerisque metus tempus a. Nullam mollis turpis nec finibus tempor.</p>
</div>

<div>
  <h1>Productos</h1>
  <div class="row">
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla a purus nec nisl imperdiet pulvinar.
        Donec lectus turpis, malesuada sed congue vel, egestas quis massa.
        Aenean eget sollicitudin velit. Curabitur convallis nisi dolor, sit amet venenatis mauris tristique et.
        Donec ac lacinia magna. In blandit ipsum ac cursus ultricies.
        Nunc porta, dolor ullamcorper imperdiet interdum, arcu nunc lobortis tortor, quis pretium est diam quis nulla.
        In gravida mi sagittis, tempor purus eu, laoreet nisl. Donec dignissim scelerisque risus sed ultricies.

        Aliquam at sagittis ex. Quisque tincidunt justo et eros pretium, non hendrerit felis eleifend.
        Praesent congue purus diam, et mattis nibh lobortis vitae. Cras gravida feugiat libero, in finibus ante bibendum at.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Duis mattis mattis arcu, ut aliquet nibh fringilla quis. Suspendisse hendrerit lorem dui, sit amet sollicitudin lectus sodales ut.
        Nunc porta aliquam enim vel posuere. Sed pharetra elit maximus lacinia blandit. Maecenas porta vitae nulla at molestie.
        Nullam dapibus sapien posuere metus tincidunt, eget porttitor massa laoreet. Duis egestas sem eget enim dignissim, at porttitor orci porta.
        Aliquam ultricies arcu massa, at scelerisque metus tempus a. Nullam mollis turpis nec finibus tempor.</p>
      <button class="btn"  (click)="navegar('producto')">Ver más</button>
    </div>
    <div class="col-6">
      <owl-carousel-o [options]="options">
        <ng-container *ngFor="let slide of slidesStore">
          <ng-template carouselSlide>
            <img class="slide" [src]="slide.src"  [alt]="slide.alt">
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>


</div>

<div>
  <h1>Quienes somos</h1>
  <div class="row">
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla a purus nec nisl imperdiet pulvinar.
        Donec lectus turpis, malesuada sed congue vel, egestas quis massa.
        Aenean eget sollicitudin velit. Curabitur convallis nisi dolor, sit amet venenatis mauris tristique et.
        Donec ac lacinia magna. In blandit ipsum ac cursus ultricies.
        Nunc porta, dolor ullamcorper imperdiet interdum, arcu nunc lobortis tortor, quis pretium est diam quis nulla.
        In gravida mi sagittis, tempor purus eu, laoreet nisl. Donec dignissim scelerisque risus sed ultricies.

        Aliquam at sagittis ex. Quisque tincidunt justo et eros pretium, non hendrerit felis eleifend.
        Praesent congue purus diam, et mattis nibh lobortis vitae. Cras gravida feugiat libero, in finibus ante bibendum at.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Duis mattis mattis arcu, ut aliquet nibh fringilla quis. Suspendisse hendrerit lorem dui, sit amet sollicitudin lectus sodales ut.
        Nunc porta aliquam enim vel posuere. Sed pharetra elit maximus lacinia blandit. Maecenas porta vitae nulla at molestie.
        Nullam dapibus sapien posuere metus tincidunt, eget porttitor massa laoreet. Duis egestas sem eget enim dignissim, at porttitor orci porta.
        Aliquam ultricies arcu massa, at scelerisque metus tempus a. Nullam mollis turpis nec finibus tempor.</p>
      <button class="btn" (click)="navegar('quienes')">Ver más</button>
    </div>

<div class="col-6">
  <owl-carousel-o [options]="options">
    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide>
        <img class="slide" [src]="slide.src"  [alt]="slide.alt">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>

  </div>

</div>

<div>
  <h1>Contacta con nosotros</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla a purus nec nisl imperdiet pulvinar.
    Donec lectus turpis, malesuada sed congue vel, egestas quis massa.
    Aenean eget sollicitudin velit. Curabitur convallis nisi dolor, sit amet venenatis mauris tristique et.
    Donec ac lacinia magna. In blandit ipsum ac cursus ultricies.
    Nunc porta, dolor ullamcorper imperdiet interdum, arcu nunc lobortis tortor, quis pretium est diam quis nulla.
    In gravida mi sagittis, tempor purus eu, laoreet nisl. Donec dignissim scelerisque risus sed ultricies.

    Aliquam at sagittis ex. Quisque tincidunt justo et eros pretium, non hendrerit felis eleifend.
    Praesent congue purus diam, et mattis nibh lobortis vitae. Cras gravida feugiat libero, in finibus ante bibendum at.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    Duis mattis mattis arcu, ut aliquet nibh fringilla quis. Suspendisse hendrerit lorem dui, sit amet sollicitudin lectus sodales ut.
    Nunc porta aliquam enim vel posuere. Sed pharetra elit maximus lacinia blandit. Maecenas porta vitae nulla at molestie.
    Nullam dapibus sapien posuere metus tincidunt, eget porttitor massa laoreet. Duis egestas sem eget enim dignissim, at porttitor orci porta.
    Aliquam ultricies arcu massa, at scelerisque metus tempus a. Nullam mollis turpis nec finibus tempor.</p>
</div>
