div{
  background-color: #fbf7f6;
  padding: 25px 12px;
}


button{
  background-color: #71afe5;
  color: #000020;
}

button:hover{
  background-color: #c7e0f4;
  color: #000020;
}

.carousel {
  width: 25%;
  height: 300px;
}

.slide{
  width: 25%;
  height: 300px;
}





