div{
  background-color: #fbf7f6;
  padding: 25px 12px;
}


button{
  background-color: #8d4925;
  color: #000020;
}

button:hover{
  background-color: #b96e48;
  color: #000020;
}

.carousel {
  width: 300px;
  height: 300px;
}

.slide{
  width: 300px;
  height: 300px;
}





