<div>
  <h1>Introducción</h1>
  <p>Cerámicas Doli es una empresa de fabricación en producción de piezas de cerámicas destinadas al uso en jardineria
    y floristeria. En está página web podrás encontrar toda la información oficial y verifica sobre nuestra empresa.</p>
</div>

<div>
  <h1>Productos</h1>
  <div class="row">
    <div class="col-6">
      <p>En el apartado de productos, encontrarás a todos los productos que ofrecemos al público.
        Donde se podrá filtrar por tipo, tamaño y precio para la facilidad de la obtención de un modelo en especifico.
        Además, puedes clickar sobre el producto interesado para ver todos los detalles de la pieza.</p>
      <button class="btn"  (click)="navegar('producto')">Ver más</button>
    </div>
        <div class="slider">
        <div>
          <img  src="../../../assets/imagenes/maceta1New.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img  src="../../../assets/imagenes/maceta2New.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img  src="../../../assets/imagenes/maceta3New.png" alt="Third slide">
        </div>
      </div>
    </div>

</div>

<div>
  <h1>Quienes somos</h1>
  <div class="row">
    <div class="col-6">
      <p>En quienes somos, mostramos la información de interés social de la empresa, especificamente explicamos parte de nuestro origen,
        como llegar y mucho más.</p>
      <button class="btn" (click)="navegar('quienes')">Ver más</button>
    </div>
    <div class="slider">
      <div>
        <img  src="../../../assets/imagenes/maceta1New.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img  src="../../../assets/imagenes/maceta2New.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img  src="../../../assets/imagenes/maceta3New.png" alt="Third slide">
      </div>
    </div>
  </div>
</div>

<div>
  <h1>Contacta con nosotros</h1>
  <p>Para poder contactar con nosotros, puedes utilizar los iconos que se encuentran en la parte de abajo y utilizar la
    red social que prefiera, también puedes ir al apartado de Contacto del menú para escribirnos un correo directamente</p>
</div>
