div{
  background-color: #fbf7f6;
  padding: 25px 12px;
}


button{
  background-color: #8d4925;
  color: #000020;
}

button:hover{
  background-color: #b96e48;
  color: #000020;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots li button:before {
  color: black;
}



