#enviar {
  background-color: #8d4925;
  color: #000020;
}

#cancelar{
  background-color: #b96e48;
  color: #000020;
}

#email{
  width: 500px;
  margin-bottom: 10px;
}

#cuerpo{
  width: 1000px;
  height: 250px;
}

#dialogo{
  max-width: 1010px;
  max-height: 510px;
}

#cuerpoTX{
  width: 945px;
  height: 250px;
}
