<mat-dialog-content>
  <form [formGroup]="formulario" (submit)="enviarCorreo()" >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-hint>Escriba su email</mat-hint>
      <mat-error *ngIf="formulario.get('email')?.errors?.['required']">El campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cuerpo del correo</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="cuerpo"></textarea>
      <mat-hint>Escriba el contenido del correo</mat-hint>
      <mat-error *ngIf="formulario.get('cuerpo')?.errors?.['required']">El campo es obligatorio</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="enviarCorreo()">Enviar</button>
  <button mat-button (click)="salirDialogo()">Cancelar</button>
</mat-dialog-actions>
