#enviar {
  background-color: #c7e0f4;
  color: #000020;
}

#cancelar{
  background-color: #71afe5;
  color: #000020;
}

#email{
  width: 500px;
  margin-bottom: 10px;
}

#cuerpo{
  width: 1000px;
  height: 300px;
}

#dialogo{
  max-width: 1010px;
  max-height: 560px;
}

#cuerpoTX{
  width: 945px;
  height: 250px;
}
