#card{
  height: 500px;
  width: 400px;
  margin: 15px;
}

.btn{
  background-color: #b96e48;
  color: #000020;
  margin:5px;

}

#modelo #tipo{
  width: 100px;
  margin: 100px;
}

#altura #anchura #diametro{
  width: 25px;
  margin: 10px;
}

h1{
  margin: 10px;
}

.row{
  margin:10px
}

#principal{
  background-color: #fbf7f6;
}

