<div id="principal">
  <h1>Productos</h1>
  <div class="row">
    <form [formGroup]="formulario" (submit)="anyadirFiltro()">
      <mat-form-field class="col" id="tipo">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option *ngFor="let tipo of tipoList" [value]="tipo">{{tipo}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col" id="modelo">
        <mat-label>Modelo</mat-label>
        <mat-select formControlName="modelo">
          <mat-option *ngFor="let modelo of modeloList" [value]="modelo">{{modelo}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col" id="altura">
        <mat-label>Altura</mat-label>
        <input matInput formControlName="alto" placeholder="Altura" type="number"/>
      </mat-form-field>

      <mat-form-field class="col" id="anchura">
        <mat-label>Anchura</mat-label>
        <input matInput formControlName="ancho" placeholder="Anchura" type="number"/>
      </mat-form-field>

      <mat-form-field class="col" id="diametro">
        <mat-label>Diametro de la boca</mat-label>
        <input matInput formControlName="diametro" placeholder="Diametro" type="number"/>
      </mat-form-field>

      <button class="btn" id="filtrar" (click)="anyadirFiltro()">Filtrar</button>
      <button class="btn" id="borrar" (click)="borrarFiltro()">Borrar filtro</button>
    </form>
  </div>
  <div class="row" *ngIf="productocolors">
    <app-producto-card id="card" *ngFor="let producto of productocolors" [productocolor]="producto" class="col-4"
    (clickDetalle)="navegarADetalle($event)" [medida]="producto.producto.medidas.length"></app-producto-card>
  </div>
  <div id="noMacetas" class="row" *ngIf="!productocolors || productocolors.length === 0">
    <p id="mensajeError">No se ha encontrado ningun producto</p>
    <img id="doli" src="assets/imagenes/doli-cabeza.png" alt="doli no macetas"/>
  </div>
</div>
