#card{
  height: 400px;
  width: 325px;
  margin: 15px;
}

#filtrar{
  background-color: #c7e0f4;
  color: #000020;
  margin:5px;

}

#borrar{
  background-color: #71afe5;
  color: #000020;
  margin:5px;
}

#modelo #tipo{
  width: 100px;
  margin: 100px;
}

#altura #anchura #diametro{
  width: 25px;
  margin: 10px;
}

h1{
  margin: 10px;
}

.row{
  margin:10px
}

#principal{
  background-color: #fbf7f6;
  min-height: 675px;
}

#doli{
  height: 200px;
  width: 300px;
}

#mensajeError{
  font-size: larger;

}

#noMacetas{
  horiz-align: center;
}


