div{
  padding: 25px 12px;
}

.carousel {
  width: 15%;
  height: 300px;
}

.slide{
  width: 15%;
  height: 300px;
}

#map{
  height: 180px;
}

#principalFabricacion, #principalLlegar, #principalHistoria{
  background-color: #fbf7f6;
}


