<div id="principalHistoria">
  <h1>Quienes somos</h1>
    <div class="col-6">
      <p>Cerámicas Doli" es una empresa de fabricación y venta de productos cerámicos orientados en la jardinería y la floristería. El principal punto fuerte de nuestra empresa es su punto de vista ecológico, somos conscientes que una pieza de cerámica que contienen esmaltes no son reciclables, por eso las tiendas de cerámicas Doli se comprometen a recoger las macetas no deseadas y llevarlas, personalmente, a un punto limpio para su correcto reciclado, y a cambio se les ofrecerá un descuento desde el 15% al 30% en sus próxima compra.</p>
    </div>
  <h1>Historia</h1>
  <div class="row">
    <div class="col-6">
      <p>Durante la década de 1960, nuestro padre fundó la empresa de “Cerámicas Rodolfo” tras haber trabajado en varias fábricas de cerámica a lo largo de su vida. Durante esos años sus tres hijos se aficionan al oficio de su padre y cuando el hombre se tuvo que jubilar, a finales de la década de 1980, sus tres hijos heredaron la empresa y durante las siguientes décadas hasta la actualidad, hicieron crecer la empresa poco a poco modernizando la producción de productos y un nuevo plan de marketing, más acorde con el medio ambiente.</p>
    </div>
    <div class="col-6">
      <owl-carousel-o [options]="options">
        <ng-container *ngFor="let slide of slidesStoreHistoria">
          <ng-template carouselSlide>
            <img class="slide" [src]="slide.src"  [alt]="slide.alt">
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>


</div>

<div id="principalLlegar">
  <h1>Como llegar</h1>
  <div class="row">
    <div class="col-6">
      <p>Nos encontramos en la Calle del Maestro Serrano, 13A, Manises, Valencia. Puede usar la línea de autobuses 150 Manises-Valencia y líneas de metro 3, 9 y 5. </p>
    </div>
    <div class="col-6">
      <div id="map">

      </div>
    </div>
  </div>


</div>

<div id="principalFabricacion">
  <h1>Fabricación</h1>
  <div class="row">
    <div class="col-6">
      <p>Para cumplir nuestros objetivos ecológicos,  Cerámicas Doli consigue el barro, los esmaltes y los barnices más biodegradables posibles para facilitar su reciclado, para así crear un producto más sostenible.</p>

    </div>
    <div class="col-6">
      <owl-carousel-o [options]="options">
        <ng-container *ngFor="let slide of slidesStoreFabricacion">
          <ng-template carouselSlide>
            <img class="slide" [src]="slide.src"  [alt]="slide.alt">
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>


</div>
