div{
  padding: 25px 12px;
}

.carousel {
  width: 300px;
  height: 200px;
}

.slide{
  width: 300px;
  height: 200px;
}

#map{ height: 180px;}

#principalFabricacion, #principalLlegar, #principalHistoria{
  background-color: #fbf7f6;
}


