<div>
  <!--Historia-->
<div>
  <h1>Historia</h1>
  <div class="row">
    <div class="col-6">
      <p>En el apartado de productos, encontrarás a todos los productos que ofrecemos al público.
        Donde se podrá filtrar por tipo, tamaño y precio para la facilidad de la obtención de un modelo en especifico.
        Además, puedes clickar sobre el producto interesado para ver todos los detalles de la pieza.</p>
    </div>
    <div id="carouselHistoria" class="carousel slide col-6" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  src="../../../assets/imagenes/maceta1New.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img  src="../../../assets/imagenes/maceta2New.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img  src="../../../assets/imagenes/maceta3New.png" alt="Third slide">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselHistoria" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselHistoria" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--Como llegar-->
<div>
  <h1>Como llegar</h1>
  <div class="row">
    <div class="col-6">
      <p>En quienes somos, mostramos la información de interés social de la empresa, especificamente explicamos parte de nuestro origen,
        como llegar y mucho más.</p>
    </div>
    <div class="col-6">
      <div id="map" style="height: 500px"></div>
    </div>
  </div>
</div>
<!--Fabricación-->
  <div>
    <h1>Fabricación</h1>
    <div class="row">
      <div class="col-6">
        <p>En quienes somos, mostramos la información de interés social de la empresa, especificamente explicamos parte de nuestro origen,
          como llegar y mucho más.</p>
      </div>
      <div id="carouselFabricacion" class="carousel slide col-6" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img  src="../../../assets/imagenes/maceta1New.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img  src="../../../assets/imagenes/maceta2New.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img  src="../../../assets/imagenes/maceta3New.png" alt="Third slide">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselFabricacion" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselFabricacion" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
