img{
  width: 75px;
  height: 100px;
  margin: 10px;
  align-content: center;
}

nav{
  background-color: #8d4925;
}

li{
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

p{
  color: #000020;
}
