img{
  width: 100px;
  height: 100px;
  align-content: center;
  margin-left: 15px;
}

nav{
  background-color: #ae6938;
}

li{
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

p{
  color: #000020;
}


