<div id="error" class="row">
  <div class="col-6">
    <h1 id="titulo">PÁGINA NO ENCONTRADA</h1>

    <p id="texto">No se ha encontrado la página o sección que está buscando. Para volver al inicio, pulse el botón que
      se encuentra más abajo o utilice el menú para ir a la sección que usted quiera.</p>

    <button class="btn" (click)="volverAInicio()">Volver a inicio</button>
  </div>


  <div class="col-6">
    <img id="imagen" src="assets/imagenes/doli-fail.gif" alt="imagen_error"/>
  </div>




</div>
