
#titulo{
  color: #171a4a;
  margin: 10px;
}

.btn{
  background-color: #71afe5;
  color:#000020;
  width: 200px;
  margin: 25px;
}

#texto{
  margin: 15px;
}

#imagen{
  width: 550px;
  height: 650px;

  margin: 15px;
}

